language: node_js
node_js:
  - 12
services:
  - postgresql
env:
	- DATABASE_URL=postgres://postgres@/test_tb
before_script:
	- psql -U postgres -c "CREATE DATABASE test_tb;"
	- yarn knex migrate:latest
	- yarn knex seed:run
